@import url(fields/index.css);

form {
    margin-top: 2.5rem;

    & .forms {
        display: grid;
        gap: 3rem;
    }
}

fieldset {
    border: none;
}

legend {
    display: flex;
    align-items: center;
    gap: 0.75rem;
    margin-bottom: 1.5rem;
    font: var(--heading-sm);
    color: var(--text-heading);
}

.personalization {
    display: grid;
    gap: 1.75rem;
}

.about,
.color-container,
.theme-container, 
.contact {
    font: var(--text-sm);
    color: #FFFFFF;
    display: grid;
    gap: 1rem;
}

.form-row {
    display: flex;
    gap: 1rem;
}

.form-group {
    display: flex;
    flex-direction: column;
    width: 17rem;
}

.label-bottom-12 {
    font: var(--text-sm);
    color: var(--text-body);
    display: block;
    margin-bottom: 0.75rem;
}

